.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  background: #f6f7ed;
  position: relative;
  padding: 2rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  display: block;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  height: 1.8rem;
  margin-bottom: 2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  padding: 1rem;
}

@media screen and (min-width: 750px) {
  .cart__items {
    width: 99%;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 0 !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: left;
  display: block;
}
@media screen and (max-width: 749px) {
  .tax-note {
  margin: 1px 1px 1.6rem 0 !important;
    }
  }
.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: left;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}
.underlined-link {
    border: 3px solid;
    border-radius: 6px;
    padding: 10px;
    text-align: left;
    align-items: center;
    color: #000;
}
.cart-page-container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 749px) {
  .cart-page-container {
flex-direction: column !important;
  }
}
.cart-container {
  display: flex;
  width: 70%;
  flex-direction: column;
}
@media screen and (max-width: 749px) {
  .cart-container {
    width: 100% !important;
  }
}
.cart-add-to-cart {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2rem;
  margin: 0;
  background: #ffffff5e;
  border: 1px solid #939393;
}
@media screen and (max-width: 749px) {
.cart-add-to-cart {
margin-top: 10px !important;
flex-direction: row !important;
width: 100% !important;
  }
}
.cart-top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 749px) {
  .cart-top {
  flex-direction: column !important;
  align-items: center !important;
  }
}
#app {
  width: 350px;
}
@media screen and (max-width: 749px) {
  #app {
margin: 10px;
  }
}
.base-timer {
  border-radius: 10px !important;
  width: 100% !important;
  height: 50px !important;
}
.base-timer__svg, .base-timer h3, .base-timer h5 {
  display: none;
}
.base-timer__label {
  width: 150px !important;
  height: 52px !important; 
  font-size: 16px !important;
}
.base-timer h4 {
  margin: 0;
  position: absolute;
  top: 16px;
  left: 120px;
  font-weight: 100;
  color: white;
}
.select {
  display: flex;
  text-align: center;
  padding: 10px 30px !important;
  width: 310px !important;
  border: 2px solid !important;
  border-radius: 7px !important;
  background: none !important;
  box-shadow: none !important;
}
@media screen and (max-width: 749px) {
  .select {
  width: 350px !important;
  }
}
.head-container {
  position: absolute;
  top: 200px;
  left: 0;
  max-height: 900px;
  max-width: 50%;
  height: auto;
  z-index: -1;
}
.head-container-right {
position: absolute;
top: 150px;
right: 0;
max-width: 50%;
max-height: 900px;
height: auto;
z-index: -1;
}
@media screen and (max-width: 749px) {
  .head-container-right {
  max-width: 100% !important;
  max-height: 600px !important;
  height: auto !important;
  }
  .head-container {
    display: none !important;
  }
}