.totals {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 4rem;
    margin: 0;
    background: #ffffff5e;
    border: 1px solid #939393;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 749px) {
.totals {
flex-direction: column-reverse !important;
  }
} 
@media screen and (max-width: 749px) {
.totals-container {
width: 100% !important;
  }
}
.totals-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
}
.totals-container h3, .totals-container p{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.totals > * {
  font-size: 1.6rem;
  margin: 10px;
}

.totals > h3 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals__subtotal-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}
