.collection-grid-section {
  margin-top: 3rem;
}

.collection {
  position: relative;
  margin-top: 30px;
}

@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .collection .title:not(.title--no-heading) {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 750px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

    .head-container {
      position: absolute;
      top: 150px;
      left: 0;
      max-height: 900px;
      max-width: 50%;
      height: auto;
      z-index: -1;
  }
  .head-container-right {
    position: absolute;
    top: 150px;
    right: 0;
    max-width: 50%;
    max-height: 900px;
    height: auto;
    z-index: -1;
  }
  @media screen and (max-width: 749px) {
    .head-container-right {
    max-width: 100% !important;
    max-height: 600px !important;
    height: auto !important;
    }
    .head-container {
      display: none !important;
    }
  }