.collection-grid-section {
  margin-top: 3rem;
}

.collection {
  position: relative;
  margin-top: 30px;
}

@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .collection .title:not(.title--no-heading) {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 750px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}
#app {
  width: 350px;
}
@media screen and (max-width: 749px) {
  #app {
margin: 10px;
display: none;
  }
}
.base-timer {
  border-radius: 10px !important;
  width: 100% !important;
  height: 50px !important;
}
.base-timer__svg, .base-timer h3, .base-timer h5 {
  display: none;
}
.base-timer__label {
  width: 150px !important;
  height: 52px !important; 
  font-size: 16px !important;
}
.base-timer h4 {
  margin: 0;
  position: absolute;
  top: 16px;
  left: 120px;
  font-weight: 100;
  color: white;
}